header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* =================================CTA =================================== */


.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ================================= HEADER SOCIALS =================================== */

.header_social {
    /* margin-top: 2.5rem; */
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.lighting_text{
    /* text-decoration: underline; */
    -webkit-box-reflect: below -150px linear-gradient(transparent, #0004);
    padding-bottom: 4rem;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 90.1%, 92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%,80.1%,90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0, 0, 10px, #03bcf4,
        0, 0, 10px, #03bcf4, 
        0, 0, 10px, #03bcf4, 
        0, 0, 10px, #03bcf4, 
        0, 0, 10px, #03bcf4,;
    }
}
/* ================================= ME =================================== */
 .me{
    background: linear-gradient (var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    border-radius: 12rem 12rem 6rem 6rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
 }

 /* ================================= SCROLL DOWN =================================== */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


 /*====================== MEDIA QUERIES (MEDIUM DEVICES)=======================================*/
 @media  screen and (max-width: 1024px){
   header{
    height: 68dvh;
   }
    
  }
  
    /*====================== MEDIA QUERIES (SMALL DEVICES)=======================================*/
    @media  screen and (max-width: 600px){
        header{
            height: 100vh;
        }
        .header_social, .scroll_down{
            display: none;
        }
    
    }